.about-page {
  min-height: 100vh;
  text-align: center;
  align-content: center;
  font-size: $regular-size;

  .about-link {
    font-weight: bold;
    color: $accent-color;

    a:hover {
      color: $accent-color;
    }
  }

  p {
    margin-bottom: $small-size;
  }


  .about-button {
    font-size: $regular-size;
    background-color: $accent-color;
    border-color: $light-accent-color;
  }
}

/*
  Social Container
 */
@media screen and (max-device-width: $iphone678-max-width) and (max-device-height: $iphone678-max-height) {
  .social-container {
    position: static !important;
  }
}
.social-container {
  font-size: $regular-size;
  position: fixed;
  bottom: $regular-size;
  width: 100%;
  height: auto;
  left: 0;
  top: auto;
  text-align: center;

  .fa-twitter {
    cursor: pointer;
    color: $twitter-brand-blue;
    margin-left: $small-size;
    margin-right: $small-size;
    font-size: $extra-large-size + 0.5rem;
  }

  .fa-github {
    cursor: pointer;
    color: $github-brand-gray;
    margin-left: $small-size;
    margin-right: $small-size;
    font-size: $extra-large-size + 0.5rem;
  }

  .fa-linkedin {
    cursor: pointer;
    color: $linkedin-brand-blue;
    margin-left: $small-size;
    margin-right: $small-size;
    font-size: $extra-large-size + 0.5rem;
  }

  .fa-youtube {
    cursor: pointer;
    color: $youtube-brand-red;
    margin-left: $small-size;
    margin-right: $small-size;
    font-size: $extra-large-size + 0.5rem;
  }
}