/*
  Root styles
 */
html,body {
    background-color: $light-primary-color;
}

#root {
    font-family: Source;
    min-width: 100%;
    max-width: 100%;

    .root-container {
        margin-top: 56px;
        height: calc(100vh - 56px);
        padding-top: 15px;
        padding-bottom: 15px;
        overflow: auto;
    }
}

/**
  Navbar styles
 */
.brand-image {
    padding-bottom: 0px;
    border-radius: 4px;
}

.navbar {
    background-color: $primary-color;
}

.navbar-toggler-icon {

}

.navbar-style {
    width: 100vh;
}


.active-link {
    color: white !important;
    background-color: $accent-color !important;
}