/*
  Root styles
 */
html,body {
    height: 100%;
}

#root {
    font-family: Source;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;

    .root-container {
        background-color: $light-primary-color;
        overflow-y: auto;
    }
}

/**
  Navbar styles
 */
.brand-image {
    padding-bottom: 0px;
    border-radius: 4px;
}

.navbar {
    background-color: $primary-color;
    overflow-y: hidden;
}

.navbar-toggler-icon {

}

.navbar-style {
    width: 100vh;
}


.active-link {
    color: white !important;
    background-color: $accent-color !important;
}