@import "variables.scss";
@import "layout.scss";
@import "about.scss";
@import "contact.scss";
@import "portfolio";
@import "content.scss";
@import "shop.scss";
@font-face {font-family: Source; src: url('../fonts/OpenSans-Regular.ttf')}

/* Color Pallete
    Fresh: #F7F5E6
    Vermillion: #333A56
    Sunshine: #52658F
    Clean: #E8E8E8
 */