/*
  Primary/Accent color theme
 */
$primary-color: #F7F5E6;
$light-primary-color: #E8E8E8;
$accent-color: #333A56;
$light-accent-color: #52658F;

/*
  Brand colors variables
 */
$twitter-brand-blue: #00aced;
$linkedin-brand-blue: #0077ba;
$youtube-brand-red: #ff0000;
$github-brand-gray: #333;

/*
  Spacing sizes
 */
$small-size: 0.5rem;
$regular-size: 1rem;
$large-size: 1.5rem;
$extra-large-size: 2rem;
$iphone5se-max-width: 320px;
$iphone678-max-width: 375px;
$iphone678plus-max-width: 414px;
$iphone678-max-height: 667px;